body{
    width: 100vw;
}

table{
    border-collapse: collapse;
    width: 1800px;
    overflow-x: auto;
}

th,td{
    width: 80px;
    border: 1px solid black;
}

td:focus{
    outline: none;
}

#bold{
    font-weight: bold;
}
#italics{
    font-style: italic;
}
#underline{
    text-decoration: underline;
}